<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EventsUnlimited.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EventsUnlimited.Properties.Settings.ClientDatabaseConnection"
            connectionString="Data Source=DESKTOP-EHEG2FH\SQLEXPRESS;Initial Catalog=EventsUnlimited;Integrated Security=True;" />
        <add name="EventsUnlimited.Properties.Settings.EventsUnlimitedConnectionString"
            connectionString="Data Source=DESKTOP-EHEG2FH\SQLEXPRESS;Initial Catalog=EventsUnlimited;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <EventsUnlimited.Properties.Settings>
      <setting name="color1" serializeAs="String">
        <value>143, 10, 47</value>
      </setting>
      <setting name="color2" serializeAs="String">
        <value>210, 35, 81</value>
      </setting>
      <setting name="color3" serializeAs="String">
        <value>241, 174, 40</value>
      </setting>
      <setting name="color4" serializeAs="String">
        <value>246, 238, 243</value>
      </setting>
      <setting name="color5" serializeAs="String">
        <value>13, 7, 10</value>
      </setting>
    </EventsUnlimited.Properties.Settings>
  </applicationSettings>
</configuration>